.wrap {
  width: 750px;
  height: 750px;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
  border: 1px solid #999; }

.zoomed {
  transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transform-origin: 0 0;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1);
  -o-transform-origin: 0 0;
  -ms-transform: scale(1);
  -ms-transform-origin: 0 0;
  zoom: 1;
  position: relative; }

.buddha {
  position: absolute;
  left: 158px;
  top: 200px; }

.slider-range-min {
  width: 750px; }

.slider-range-min {
  margin: 5px;
  width: 735px; }
